/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// body {
//     background:#e8e8e8;
//     font-family: 'Muli';
// }

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-size: 14px;
    //direction: rtl;
}

h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}

#container {
//transform: scaleX(-1);
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
        overflow:auto;
        padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

form.todo-form {
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px;
}
div.validation-error {
    color: red;
    text-align: center;
}
button:hover,a.btn:hover {
    cursor: pointer;
}
